<form [formGroup]="form" (submit)="onSubmit()">

  <div class="form-item">
    <label for="email">Email address</label>
    <input type="email" name="email" id="email" autocomplete="email" formControlName="email">
  </div>

  <div class="form-item">
    <div class="password-text">
      <label for="password">Password</label>
      <a>Forgot password?</a>
    </div>
    <input type="password" name="password" id="password" autocomplete="current-password" formControlName="password">
  </div>

  <button type="submit" class="primary">Sign in</button>

</form>

<p class="not-a-member">Not a member? <a>Create your account.</a></p>