:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  label {
    font-size: 0.9rem;
  }

  button {
    width: 100%;
  }

  .form-item {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    label {
      color: var(--text-color-opacity);
      display: block;
      flex: 1 1 0%;
    }

    input {
      flex: 1 1 100%;
    }

    .password-text {
      display: flex;
      justify-content: space-between;
    }
  }
}

.not-a-member {
  margin-top: 20px;
  text-align: center;
  color: var(--text-color-opacity);
}